<div id="welcome-section">
  <h1><%=t 'homepage.welcome.phrase_html' %></h1>
  <%= link_to t("homepage.signup.button"), signup_path, class: "signup-button" %>
  <div class="account-deletion-highlight">(<%=t 'homepage.welcome.account_deletion_highlight' %> <%= link_to t("homepage.welcome.any_moment"), privacy_policy_path %>)</div>
</div>

<div id="explanation-section">
  <h2><%=t 'homepage.explanation.title' %></h2>
  <div id="explanation-container">
    <div>
      <img src="<%= image_path 'noun_email.png' %>"/>
      <p><%=t 'homepage.explanation.email' %></p>
    </div>
    <div>
      <img src="<%= image_path 'noun_cafe.png' %>"/>
      <p><%=t 'homepage.explanation.place' %></p>
    </div>
    <div>
      <img src="<%= image_path 'noun_privacy.png' %>"/>
      <p><%=t 'homepage.explanation.privacy' %></p>
    </div>
  </div>
</div>

<div id="signup-section">
  <h3>1. <%=t 'homepage.signup.title' %></h3>
  <p><%=t 'homepage.signup.description' %></p>
  <p><%=t 'homepage.signup.call_for_button' %></p>
  <%= link_to t("homepage.signup.button"), signup_path, class: "signup-button" %>
</div>

<div id="interests-section">
  <h3>2. <%=t 'homepage.interests.title' %></h3>
  <p><%=t 'homepage.interests.description_html' %></p>
  <ul id="interests-list">
    <% @interests_sample.each do |interest| %>
      <li><%= interest.name %></li>
    <% end %>
  </ul>
</div>

<div id="places-section">
  <h3>3. <%=t 'homepage.places.title' %></h3>
  <p><%=t 'homepage.places.description' %></p>
  <p><%=t 'homepage.places.search_helper' %></p>
  <div id="mapid"></div>
</div>

<div id="socialize-section">
  <h3>4. <%=t 'homepage.socialize.title' %></h3>
  <p><%=t 'homepage.socialize.description_html' %></p>
</div>

<%= link_to t("homepage.signup.button"), signup_path, id: "signup-button-bottom" %>
