<div id="devise-page">
  <h2><%= t(".sign_up") %></h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, label: t('signup.email') + ' ' + t('signup.email_notice'), required: true, autofocus: true %>
      <%= f.input :username, label: t('signup.username') + ' ' + t('signup.username_notice'), required: true %>
      <%= f.input :password, label: t('signup.password') + ' ' + t('signup.password_notice'), required: true %>
      <%= f.input :password_confirmation, label: t('signup.confirmation_password') + ' ' + t('signup.confirmation_password_notice'), required: true %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, t(".sign_up") %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
