<header>
  <h1><a href="/<%= locale %>">Kamo.social</a></h1>
  <div id="lang-dropdown">
    <% if locale.to_s == 'en' %>
      English
    <% elsif locale.to_s == 'fr' %>
      Français
    <% end %>
    <i class="fa fa-sort-desc" aria-hidden="true"></i>
    <ul>
      <li><%= link_to "English", { :locale=>'en' } %></li>
      <li><%= link_to "Français", { :locale=>'fr' } %></li>
    </ul>
  </div>
  <% if user_signed_in? %>
    <div id="session-dropdown">
      <%= current_user.username %>
      <ul>
        <li>
         <%= link_to(t('header.preferences'), preferences_path) %>
         <%= link_to(t('header.logout'), destroy_user_session_path, method: :delete) %>
        </li>
      </ul>
    </div>
  <% else %>
    <%= link_to t('header.login'), login_path, id:"login-button" %>
  <% end %>
</header>

