<p id="preferences-message"><%=t 'preferences.message' %></p>

<div id="interests-section">
  <h3><%=t 'preferences.interests.title' %></h3>
  <ul id="interests-list">
    <% @interests.each do |interest| %>
      <li><%= interest.name %></li>
    <% end %>
  </ul>
</div>

<div id="places-section">
  <h3><%=t 'preferences.places.title' %></h3>
  <ul id="added-places">
    <% @places.each do |place| %>
      <li><span class="name"><%= place.name %></span> <%= place.address %></li>
    <% end %>
  </ul>
</div>
